@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: transparent;
}

#search-feed {
    outline: 0;
    border: 0;
}

#search-feed:focus {
    box-shadow: none;
    outline: 0;
    border: 0;
}